
body {font-family: Arial, Helvetica, sans-serif;
     
     background-color: beige;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
   }
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
  margin-left: 3%;
}

.ru{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.sr{
  padding:  16px;
}

.sr::after, .ro::after {
  content: "";
  clear: both;
  display: table;
}

.column{
  float: left;
  width: 33.3%;

  margin-bottom: 16px;
  padding: 0 8px;
}

.button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center center;
  cursor: pointer;
  width: 100%;
  /* animation: zoom-in-zoom-out 3s ease infinite; */
}

.button:hover {
  background-color: #555;
}

#imagesizehome
{
  height: 273px;
  width:100%;
}